$fundo: #0E2A47;
    $fundo-opaco: #1d252cd0;

$neutra: #f1f1f1;
$neutra-2: #727575;
$neutra-3: #83828248;

$primaria:rgb(0, 255, 0); 
    $primaria-opaca: #20732d;
    $primaria-opaca-2:#20732c69;
$secundaria: #33CED8;
$terciaria: #68A1F0;
$validacao: #8BD199;
$validacao-2: #E27E78;

$gutter: 5%;
$gutter-min: 1%;

$time: .5s;

$font-size: 13px;
